// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@red: #cc6666;



// Ishi light

@light-sand:   #f0eec9;
@dark-sand:    #5e5e51;
@green:        #9bb399;
@light-green:  #cedaba;
@neon-green:   #42a35f;
@dark-cyan:    #c4c6d2;
@dark-violet:  #77628c;

@orange:       #ff9b00;
@light-orange: #f0c674;