@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @black;
@syntax-cursor-color: @black;
@syntax-selection-color: tint(@cyan, 50%);
@syntax-background-color: @white;

// Guide colors
@syntax-wrap-guide-color: @whiter;  
@syntax-indent-guide-color: @whiter;
@syntax--character-color: @whiter;

// For find and replace markers
@syntax-result-marker-color: @cyan;
@syntax-result-marker-color-selected: @cyan;

// Gutter colors
@syntax-gutter-text-color: @gray;
@syntax-gutter-text-color-selected: @black;
@syntax-gutter-background-color: shade(@white, 2%);
@syntax-gutter-background-color-selected: @whiter;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;
